@import "../../Styles/mixins";

.FlashcardWrapper {
  & * {
    box-sizing: border-box;
  }
  bottom: 10%;

  &__item {
    @include box();
    transform-style: preserve-3d;
    background-color: transparent;
    transition: transform 0.45s ease;

    &--front,
    &--back {
      color: black;
      @include box();
      cursor: pointer;
      border-radius: inherit;
      backface-visibility: hidden;
      box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.16);
      position: absolute;
      top: 0;
      left: 0;
    }

    &--front {
      background-color: #ffffff;
    }

    &--back {
      background-color: #ffffff;
      transform: rotateX(-180deg);
    }

    &--flip {
      transform: rotateX(180deg) !important;
    }

    &--content {
      @include box();
      border-radius: inherit;
    }
  }
}
